<main class="page-content">
  <section style="background-image: url(images/1920x900.jpg);"
    class="section-30 section-sm-40 section-md-66 section-lg-bottom-90 bg-gray-dark page-title-wrap">
    <div class="shell">
      <div class="page-title">
        <h2>Gallery</h2>
      </div>
    </div>
  </section>
  <section class="section-50 section-sm-90 section-md-bottom-120 section-lg-bottom-165">
    <div class="shell isotope-wrap text-center">
      <div class="range">
        <div class="cell-xs-12">
          <ul class="isotope-filters-responsive">
            <li>
              <p>Choose your category:</p>
            </li>
            <li class="block-top-level">
              <button data-custom-toggle="#isotope-1" data-custom-toggle-hide-on-blur="true"
                class="isotope-filters-toggle btn btn-sm btn-default">Filter<span class="caret"></span></button>
              <div id="isotope-1" class="isotope-filters isotope-filters-minimal isotope-filters-horizontal">
                <ul class="list-inline">
                  <li><a data-isotope-filter="*" data-isotope-group="gallery" href="#" class="active">All</a></li>
                  <li><a data-isotope-filter="Category 1" data-isotope-group="gallery" href="#">Empowerment</a></li>
                  <li><a data-isotope-filter="Category 2" data-isotope-group="gallery" href="#">Production</a></li>
                  {{!-- <li><a data-isotope-filter="Category 3" data-isotope-group="gallery" href="#">Branding</a></li> --}}
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="cell-xs-12 offset-top-40">
          <div class="row">
            <div data-isotope-layout="fitRows" data-isotope-group="gallery" data-photo-swipe-gallery="gallery"
              class="isotope isotope-gutter-default">
              <div data-filter="Category 1" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                <div class="thumbnail thumbnail-variant-3"><a href="gallery-item.html" class="link link-external"><span
                      class="icon icon-sm fa fa-link"></span></a>
                  <figure><img src="/uploads/image_1.jpg" alt="what1" width="370" height="278" class="gallery-img" />
                  </figure>
                  <div class="caption"><a href="/uploads/image_2.jpg" data-photo-swipe-item="" data-size="1200x900"
                      class="link link-original"></a></div>
                </div>
              </div>
              <div data-filter="Category 2" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                <div class="thumbnail thumbnail-variant-3"><a href="gallery-item.html" class="link link-external"><span
                      class="icon icon-sm fa fa-link"></span></a>
                  <figure><img src="/uploads/image_3.jpg" alt="what2" width="370" height="278" class="gallery-img" />
                  </figure>
                  <div class="caption"><a href="/uploads/image_4.jpg" data-photo-swipe-item="" data-size="1200x900"
                      class="link link-original"></a></div>
                </div>
              </div>
              <div data-filter="Category 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                <div class="thumbnail thumbnail-variant-3"><a href="gallery-item.html" class="link link-external"><span
                      class="icon icon-sm fa fa-link"></span></a>
                  <figure><img src="/uploads/image_5.jpg" alt="" width="370" height="278" class="gallery-img" />
                    <figcaption>Leather Works</figcaption>
                  </figure>
                  <div class="caption"><a href="/uploads/image_6.jpg?4" data-photo-swipe-item="" data-size="1200x900"
                      class="link link-original"></a></div>
                </div>
              </div>
              <div data-filter="Category 1" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                <div class="thumbnail thumbnail-variant-3"><a href="gallery-item.html" class="link link-external"><span
                      class="icon icon-sm fa fa-link"></span></a>
                  <figure><img src="/uploads/image_7.jpg" alt="" width="370" height="278" class="gallery-img" />
                  </figure>
                  <div class="caption"><a href="/uploads/image_8.jpg" data-photo-swipe-item="" data-size="1200x900"
                      class="link link-original"></a></div>
                </div>
              </div>
              <div data-filter="Category 2" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                <div class="thumbnail thumbnail-variant-3"><a href="gallery-item.html" class="link link-external"><span
                      class="icon icon-sm fa fa-link"></span></a>
                  <figure><img src="/uploads/image_9.jpg" alt="" width="370" height="278" class="gallery-img" />
                    <figcaption>Leather Shoes</figcaption>
                  </figure>
                  <div class="caption"><a href="/uploads/image_10.jpg?6" data-photo-swipe-item="" data-size="1200x900"
                      class="link link-original"></a></div>
                </div>
              </div>
              <div data-filter="Category 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                <div class="thumbnail thumbnail-variant-3"><a href="gallery-item.html" class="link link-external"><span
                      class="icon icon-sm fa fa-link"></span></a>
                  <figure><img src="/uploads/image_11.jpg" alt="" width="370" height="278" class="gallery-img" />
                  </figure>
                  <div class="caption"><a href="/uploads/image_12.jpg" data-photo-swipe-item="" data-size="1200x900"
                      class="link link-original"></a></div>
                </div>
              </div>
              <div data-filter="Category 1" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                <div class="thumbnail thumbnail-variant-3"><a href="gallery-item.html" class="link link-external"><span
                      class="icon icon-sm fa fa-link"></span></a>
                  <figure><img src="/uploads/image_1.jpg" alt="" width="370" height="278" class="gallery-img" />
                  </figure>
                  <div class="caption"><a href="/uploads/image_2.jpg" data-photo-swipe-item="" data-size="1200x900"
                      class="link link-original"></a></div>
                </div>
              </div>
              <div data-filter="Category 2" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                <div class="thumbnail thumbnail-variant-3"><a href="gallery-item.html" class="link link-external"><span
                      class="icon icon-sm fa fa-link"></span></a>
                  <figure><img src="/uploads/image_3.jpg" alt="" width="370" height="278" class="gallery-img" />
                  </figure>
                  <div class="caption"><a href="/uploads/image_1.jpg" data-photo-swipe-item="" data-size="1200x900"
                      class="link link-original"></a></div>
                </div>
              </div>
              <div data-filter="Category 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                <div class="thumbnail thumbnail-variant-3"><a href="gallery-item.html" class="link link-external"><span
                      class="icon icon-sm fa fa-link"></span></a>
                  <figure><img src="/uploads/image_8.jpg" alt="" width="370" height="278" class="gallery-img" />
                  </figure>
                  <div class="caption"><a href="/uploads/image_6.jpg" data-photo-swipe-item="" data-size="1200x900"
                      class="link link-original"></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<div class="pswp__bg"></div>
<div class="pswp__scroll-wrap">
  <div class="pswp__container">
    <div class="pswp__item"></div>
    <div class="pswp__item"></div>
    <div class="pswp__item"></div>
  </div>
  <div class="pswp__ui pswp__ui--hidden">
    <div class="pswp__top-bar">
      <div class="pswp__counter"></div>
      <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
      <button title="Share" class="pswp__button pswp__button--share"></button>
      <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
      <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
      <div class="pswp__preloader">
        <div class="pswp__preloader__icn">
          <div class="pswp__preloader__cut">
            <div class="pswp__preloader__donut"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
      <div class="pswp__share-tooltip"></div>
    </div>
    <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
    <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
    <div class="pswp__caption">
      <div class="pswp__caption__cent"></div>
    </div>
  </div>
</div>
</div>