<main class="page-content">
  <section>
    <div class="container-fluid">
      <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="/img/home.jpg" alt="Chania" width="1920" class="img-responsive" id="slide_img">
              <div class="carousel-caption">
                <h4 data-caption-animate="fadeInUp" data-caption-delay="0s">Los Angeles</h4>
                <h5 data-caption-animate="fadeInUp" data-caption-delay="100" class="text-bigger slider-text">LA is
                  always so much fun!</h5>
              </div>
            </div>

            <div class="item">
              <img src="/img/home2.jpg" alt="Chicago" width="1920" class="img-responsive" id="slide_img">
              <div class="carousel-caption">
                <h4 data-caption-animate="fadeInUp" data-caption-delay="0s">Chicago</h4>
                <h5 data-caption-animate="fadeInUp" data-caption-delay="100" class="text-bigger slider-text">Thank you,
                  Chicago!</h5>
              </div>
            </div>

            <div class="item">
              <img src="/img/home.jpg" alt="New York" width="1920" class="img-responsive" id="slide_img">
              <div class="carousel-caption">
                <h4 data-caption-animate="fadeInUp" data-caption-delay="0s">New York</h4>
                <h5 data-caption-animate="fadeInUp" data-caption-delay="100" class="text-bigger slider-text">We love
                  the Big Apple!</h5>
              </div>
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <!-- carousel ends here -->
  </section>
  <section id="section-start-journey" class="section-50 section-sm-90 section-lg-top-120 section-lg-bottom-145">
    <div class="shell">
      <div class="range range-md-bottom range-sm-center">
        <div data-wow-duration="2s" data-wow-offset="200" class="cell-sm-10 cell-md-5 wow fadeInLeft">
          <h2 class="text-red-orange">Dave Cruz Nig. Limited</h2>
          <p class="h3 offset-top-0">...Learn Any Skill</p>
          <p class="offset-top-40 text-secondary">Get Trained by the industry leaders, Dave_Cruz Trainig Center
            includes a comprehensive set of tools which are super easy to pick up and run. This template gives you a
            huge leg up to create your own beautiful site using powerful options & tools, unlimited designs, and
            responsive framework.</p>
          <a href="#" class="btn btn-xl btn-primary">Register Now</a>
        </div>
        <div class="cell-sm-11 cell-md-7 offset-top-40 offset-sm-top-60 offset-md-top-0">
          <div class="image-group">
            <figure data-wow-duration=".6s" data-wow-delay=".0s" data-wow-offset="80" class="wow fadeInRightSmall"><img
                src="/img/home.jpg" alt="" width="243" height="199" /> </figure>
            <figure data-wow-duration=".9s" data-wow-delay=".4s" data-wow-offset="200" class="wow fadeInRightMedium"><img
                src="/img/home1.jpg" alt="" width="508" height="341" /> </figure>
            <figure data-wow-duration=".9s" data-wow-delay=".8s" data-wow-offset="300" class="wow fadeInRightSmall"><img
                src="/img/home2.jpg" alt="" width="689" height="469" /> </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="divider-spectrum"></div>
  <section data-on="false" data-md-on="true" style="background-image: url(/img/home.jpg);" class="rd-parallax bg-gray-base bg-image">
    <div data-speed="0.33" data-type="media" data-url="/img/home.jpg" class="rd-parallax-layer img-responsive"></div>
    <div data-speed="0" data-type="html" class="rd-parallax-layer">
      <div class="section-50 section-sm-75 section-lg-top-100 section-lg-bottom-120">
        <div class="shell list_of_services">
          <div class="range range-sm-center">
            <div class="cell-sm-11 cell-md-10 cell-lg-9 text-center">
              <h3 id="services">Our Services</h3>
            </div>
          </div>
          <div class="range">
            <div class="cell-sm-6 cell-md-4">
              <article class="icon-box-vertical"><span class="icon icon-primary icon-md material-icons-security"></span>
                <h5 class="icon-box-header">HANDS ON TRAINING</h5>
                <p>Dave Cruz training center offers one of the most popular and powerful hands on training services. It
                  gives you confidence in quality and flexibility of the product you buy.</p>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4 offset-top-50 offset-sm-top-0">
              <article class="icon-box-vertical"><span class="icon icon-primary icon-md material-icons-build"></span>
                <h5 class="icon-box-header">EXTENTED LEARNING TOOLS</h5>
                <p>Starbis provides a powerful and flexible extended toolkit in addition to basic Bootstrap. If you've
                  used Bootstrap itself, you'll find this all super familiar and easy-to-use.</p>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4 offset-top-50 offset-md-top-0">
              <article class="icon-box-vertical"><span class="icon icon-primary icon-md material-icons-palette"></span>
                <h5 class="icon-box-header">UNLIMITED SKILLS TO BE LEARNT</h5>
                <p>Starbis includes a wide variety of skins and colors, from which you can easily select what you like
                  to attract the attention of your customers to your company.</p>
              </article>
            </div>


          </div>
          <div class="range offset-top-30 offset-sm-top-45">
            <div class="cell-xs-12 text-center"><a href="#" class="btn btn-xl btn-primary">Register Now</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section data-on="false" data-md-on="true" style="background-image: url(images/1920x900.jpg);" class="rd-parallax bg-gray-base bg-image">
    <div data-speed="0.5" data-type="media" data-url="images/1920x900.jpg" class="rd-parallax-layer"></div>
  </section>
  <section class="section-60 section-sm-100 bg-gray-base">
    <div class="shell">
      <div class="range">
        <div class="cell-xs-6 cell-sm-3">
          <div class="box-counter box-counter-inverse"><span class="icon icon-md icon-primary material-icons-content_copy"></span>
            <div class="text-large counter">8249</div>
            <h5 class="box-header">Goods Supplied</h5>
          </div>
        </div>
        <div class="cell-xs-6 cell-sm-3 offset-top-40 offset-xs-top-0">
          <div class="box-counter box-counter-inverse"><span class="icon icon-md icon-primary material-icons-mood"></span>
            <div class="text-large counter counter-k">246</div>
            <h5 class="box-header">Happy Clients</h5>
          </div>
        </div>
        <div class="cell-xs-6 cell-sm-3 offset-top-40 offset-sm-top-0">
          <div class="box-counter box-counter-inverse"><span class="icon icon-md icon-primary material-icons-access_time"></span>
            <div class="text-large counter">1200</div>
            <h5 class="box-header">Hours of Learning</h5>
          </div>
        </div>
        <div class="cell-xs-6 cell-sm-3 offset-top-40 offset-sm-top-0">
          <div class="box-counter box-counter-inverse"><span class="icon icon-md icon-primary material-icons-code"></span>
            <div class="text-large counter counter-k">834</div>
            <h5 class="box-header">Students Trained</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-50 section-sm-90 section-lg-120 bg-gray-lighter">
    <div class="shell">
      <div class="range">
        <div class="cell-xs-12 text-center">
          <h3>Meet Our Team</h3>
          <p>We are a team of enterpreneurs, designers and leads who love what they do.</p>
        </div>
      </div>
      <div class="range offset-top-40">
        <div class="cell-xs-6 cell-sm-4 cell-md-3">
          <div class="thumbnail thumbnail-variant-1">
            <div class="thumbnail-image"><img src="/img/mark.jpg" alt="" width="189" height="189" />
              <div class="thumbnail-image-inner"><a href="callto:#" class="icon icon-md material-icons-local_phone link-primary-inverse-v2"></a><a
                  href="/cdn-cgi/l/email-protection#7350" class="icon icon-md-smaller fa-envelope-o link-white"></a></div>
            </div>
            <div class="thumbnail-caption">
              <h5 class="header"><a href="">Julien Miro</a></h5>
              <p>Software Developer</p>
            </div>
          </div>
        </div>
        <div class="cell-xs-6 cell-sm-4 cell-md-3 offset-top-60 offset-xs-top-0">
          <div class="thumbnail thumbnail-variant-1">
            <div class="thumbnail-image"><img src="/img/paul.jpg" alt="" width="189" height="189" />
              <div class="thumbnail-image-inner"><a href="callto:#" class="icon icon-md material-icons-local_phone link-primary-inverse-v2"></a><a
                  href="/cdn-cgi/l/email-protection#3f1c" class="icon icon-md-smaller fa-envelope-o link-white"></a></div>
            </div>
            <div class="thumbnail-caption">
              <h5 class="header"><a href="">Joan Williams</a></h5>
              <p>Support Operator</p>
            </div>
          </div>
        </div>
        <div class="cell-xs-6 cell-sm-4 cell-md-3 offset-top-60 offset-sm-top-0">
          <div class="thumbnail thumbnail-variant-1">
            <div class="thumbnail-image"><img src="/img/chad.jpg" alt="" width="189" height="189" />
              <div class="thumbnail-image-inner"><a href="callto:#" class="icon icon-md material-icons-local_phone link-primary-inverse-v2"></a><a
                  href="/cdn-cgi/l/email-protection#c0e3" class="icon icon-md-smaller fa-envelope-o link-white"></a></div>
            </div>
            <div class="thumbnail-caption">
              <h5 class="header"><a href="#">Benedict Smith</a></h5>
              <p>CEO</p>
            </div>
          </div>
        </div>
        <div class="cell-xs-6 cell-sm-4 cell-md-3 offset-top-60 offset-md-top-0">
          <div class="thumbnail thumbnail-variant-1">
            <div class="thumbnail-image"><img src="/img/mark.jpg" alt="" width="189" height="189" />
              <div class="thumbnail-image-inner"><a href="callto:#" class="icon icon-md material-icons-local_phone link-primary-inverse-v2"></a><a
                  href="/cdn-cgi/l/email-protection#5b78" class="icon icon-md-smaller fa-envelope-o link-white"></a></div>
            </div>
            <div class="thumbnail-caption">
              <h5 class="header"><a href="#">Madlen Green</a></h5>
              <p>Sales Manager</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section data-on="false" data-md-on="true" style="background-image: url()" class="rd-parallax bg-gray-base bg-image">
    <div data-speed="0.33" data-type="media" data-url="images/1920x900.jpg" class="rd-parallax-layer"></div>
    <div data-speed="0" data-type="html" class="rd-parallax-layer">
      <div class="section-60 section-sm-90 section-lg-120">
        <div class="shell text-center">
          <h3>What People Say</h3>
          <div class="range range-md-center offset-top-40">
            <div class="cell-md-11 cell-lg-9">
              <div class="owl-carousel-inverse">
                <div data-items="1" data-stage-padding="0" data-loop="false" data-margin="30" data-nav="true"
                  data-numbering="#owl-numbering-1" data-animation-in="fadeIn" data-animation-out="fadeOut" class="owl-carousel owl-nav-position-numbering">
                  <div class="item">
                    <blockquote class="quote-minimal quote-minimal-inverse">
                      <div class="quote-body">
                        <p> <q>I am glad I've registered with Dave Cruz Leather Works Company. It allows me not to
                            worry how to represent my services on the web – everything is already included! Moreover, I
                            think this program will perfectly suit anyone, even a small local entrepreneur!</q> </p>
                      </div>
                      <div class="quote-meta"> <cite>Jane Wilson</cite>
                        <p class="caption">Freelancer</p>
                      </div>
                    </blockquote>
                  </div>
                  <div class="item">
                    <blockquote class="quote-minimal quote-minimal-inverse">
                      <div class="quote-body">
                        <p> <q>The programs and manner of teaching are beautiful! But what really makes the difference
                            is the customer service. Both pre and post sales support is second to none. Very fast,
                            friendly and competent. I can only recommend Dave_Cruz Leather Works.</q> </p>
                      </div>
                      <div class="quote-meta"> <cite>Amanda Smith</cite>
                        <p class="caption">Sales manager</p>
                      </div>
                    </blockquote>
                  </div>
                  <div class="item">
                    <blockquote class="quote-minimal quote-minimal-inverse">
                      <div class="quote-body">
                        <p> <q>We have purchased several packages and contacted support once, the case had to be passed
                            to technical support but it was resolved within the day. Very fast responses and excellent
                            templates to choose from. Would highly recommend.</q> </p>
                      </div>
                      <div class="quote-meta"> <cite>Sam Cole</cite>
                        <p class="caption">Business owner</p>
                      </div>
                    </blockquote>
                  </div>
                </div>
                <div id="owl-numbering-1" class="owl-numbering owl-numbering-default">
                  <div class="numbering-current"></div>
                  <div class="numbering-separator"></div>
                  <div class="numbering-count"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>